@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to HB STORE!</h1>
    <p>All books are available in <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Books">Books link</a></p>
</div>
